@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #20B486; /* Green shade */
  --color-secondary: #2B2B3D; /* Dark Green */
  --color-accent: #000000; /* black */
  --color-muted: #9A98A9; /* Gray text */
}

body {
  font-family: "Roboto", sans-serif;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
@keyframes sprinkle {
  0%,
  100% {
    color: white;
  }
  50% {
    color: var(--color-accent) ;
  }
}



.sprinkle-text {
  animation: sprinkle 1.2s infinite ease-in-out;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
.ripple::before,
.ripple::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: #25d366; /* WhatsApp green */
  z-index: -1;
  animation: ripple 2s linear infinite;
}
.ripple::after {
  animation-delay: 1s; /* second wave */
}




@keyframes scrollNews {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}



.blink-text {
  color: #FF0000;        /* Red text */
  font-weight: bold;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;          /* Visible */
  }
  100% {
    opacity: 0;          /* Hidden */
  }
}
